<!--The content below is only a placeholder and can be replaced.-->
<header-nav></header-nav>
<header-nav2></header-nav2>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div style="text-align:center">
      <nav>
        <ul>
          <li><a routerLink="/" >Home</a></li>
          <li *featureToggle="'zoo'"><a routerLink="/zoo" routerLinkActive="active">Zoo</a></li>       
        </ul>
      </nav>
    </div>

    <div class="center">

        <router-outlet></router-outlet>
        
        </div>    

<footer-nav></footer-nav>

